<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>Face Mask Detection</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}} >
    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='fontawesome/css/all.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet">
    
</head>
<!--

TemplateMo 552 Video Catalog

https://templatemo.com/tm-552-video-catalog

-->
<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">
			<div class="potition-absolute tm-site-header">
				<div class="container-fluid position-relative">
					<div class="row" style="align-items: center; background-color: rgb(58, 65, 95);">						
                        <div class="col-7 col-md-4" style="padding-left: 50px;">
                            <img src="static\face-mask.png" width="45px" height="45px" style="display: inline;">
                            <h1 class="tm-site-name" style="display: inline; color: #fff">Face Mask Detection</h1>
                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">
                                <nav class="navbar navbar-expand-lg mr-0 ml-auto" id="tm-main-nav">
                                    <button class="navbar-toggler tm-bg-black py-2 px-3 mr-0 ml-auto collapsed" type="button"
                                        data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span>
                                            <i class="fas fa-bars tm-menu-closed-icon"></i>
                                            <i class="fas fa-times tm-menu-opened-icon"></i>
                                        </span>
                                    </button>
                                    <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                                        <ul class="navbar-nav text-uppercase">
                                            <li class="nav-item">
                                                <a class="nav-link tm-nav-link" href="/">Face Mask Detection</a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link tm-nav-link" href="/about_us">About<span class="sr-only">(current)</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>

		<!-- Page content -->
		<main>
			<div class="container-fluid px-0">
				<div class="mx-auto tm-content-container">					
					<div class="row mt-3 mb-5 pb-3">
						<div class="col-12">
							<div class="mx-auto tm-about-text-container px-3">
								<h2 class="tm-page-title mb-4" style="margin-top: 20px; color: rgb(23, 23, 82); text-decoration: underline;">ABOUT</h2>
                                <ul>
                                    <li>
                                        <div>
                                            <h3 class="mb-4" style="text-decoration: underline;">Face Mask Detection System</h3>
                                            <p class="mb-4" style="color: #020d49;">
                                                A face mask detection is a system capable of detecting if one or more individuals is/are wearing their 
                                                face mask. With the increasing number of COVID-19 victims, integrating systems capable of detecting 
                                                people wearing a face mask properly or not will help us track them easily.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h3 class="mb-4" style="text-decoration: underline;">Developed By</h3>
                                            <ol>
                                                <li>
                                                    <p class="mb-4" style="color: #020d49;">
                                                        F18112005- Shubham Rane
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="mb-4" style="color: #020d49;">
                                                        F18112010- Ashwini Kolekar
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="mb-4" style="color: #020d49;">
                                                        F18112002- Diksha Tickoo
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="mb-4" style="color: #020d49;">
                                                        F18112020- Zulfa Attar
                                                    </p>
                                                </li>
                                            </ol>
                                        </div>
                                    </li>
                                </ul>
                                <p class="mb-4"></p>
							</div>							
						</div>						
					</div>
                    
            </div> <!-- row -->
		</div>		
	</div>

	<script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.min.js"></script>    
</body>
</html>